<section class="donate-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="donate-img">
          <img src="{{ section.settings.image | image_url }}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="donate-con">
          <div class="donate-title">
            <h3>Donate now</h3>
            <select name="" id="">
              <option
                value=""
                selected
                disabled>USD $</option>
              <option value="lorem">Lorem</option>
              <option value="lorem">Lorem</option>
              <option value="lorem">Lorem</option>
            </select>
          </div>
          <div class="donate-duration">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">One time
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="flexRadioDefault"
                id="flexRadioDefault2"
                checked>
              <label class="form-check-label" for="flexRadioDefault2">Monthly</label>
            </div>
          </div>
          <div class="donate-ammount">
            <button>$10</button>
            <button class="active">$20</button>
            <button>$30</button>
            <button>$60</button>
            <div class="other-amount">
              <span>$</span><input
                type="number"
                name=""
                id=""
                placeholder="Other Amount">
            </div>
          </div>
          <div class="d-flex gap-3 my-3 align-items-center">
            <h5>Choose Payment
            </h5>
            <h6>
              <i class="fas fa-lock"></i>Secure</h6>
          </div>
          <div class="othe-pay-btns">
            <button class="visa"><img src="{{ section.settings.image_visa | image_url }}" alt=""></button>
            <button class="paypal"><img src="{{ section.settings.image_paypal | image_url }}" alt=""></button>
          </div>
          <p>Help us in supporting noble causes throughout the world. Tiffany's Specialties is a proud donator to a number of charities and campaigns that make a big difference in people’s lives. Donate to us and be a part of a positive change, we need you!</p>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Donate Form Custom",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_visa",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_paypal",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Contact form",
        "label": "Heading"
      }, {
        "type": "text",
        "id": "content",
        "default": "Contact form",
        "label": "Content"
      }, {
        "type": "text",
        "id": "phone",
        "default": "+012 345 789",
        "label": "Phone"
      }, {
        "type": "text",
        "id": "email",
        "default": "demo@mail.com",
        "label": "Email"
      }, {
        "type": "text",
        "id": "address",
        "default": "Contact form",
        "label": "132 Demo Address"
      }
    ],
    "presets": [
      {
        "name": "Donate Form Custom"
      }
    ]
  }
{% endschema %}