<section class="gallery">
  <div class="container-fluid px-0">
    <div class="title text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
    <div class="row g-0">
      {%- for block in section.blocks -%}
        <div class="col-md-2">
          <div class="gallery-img">
            <a href="{{ block.settings.image | image_url }}" data-fancybox="gallery">
              <img src="{{ block.settings.image | image_url }}" alt="">
            </a>
          </div>
        </div>
      {%- endfor -%}

    </div>
  </div>

</section>



{% schema %}
  {
    "name": "Gallery Custom",
    "class": "section",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Multicolumn",
        "label": "t:sections.multicolumn.settings.title.label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Gallery Custom",
        "blocks": [
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          },
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}