<section class="services-boxes">
  <div class="container">
    <div class="row align-items-center">

      {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
      {%- for block in section.blocks -%}
        {%- assign empty_column = '' -%}
        {%- if block.settings.image == blank and block.settings.title == blank and block.settings.text == blank and block.settings.link_label == blank -%}
          {%- assign empty_column = ' multicolumn-list__item--empty' -%}
        {%- endif -%}


        <div class="col-md-3">
          <div class="service-box">
            <div class="service-img">
              <img src="{{ block.settings.image | image_url }}" alt="">
            </div>
            <div class="service-con">
              {%- if block.settings.title != blank -%}
                <h3>{{ block.settings.title | escape }}</h3>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <p>{{ block.settings.text }}</p>
              {%- endif -%}
            </div>
          </div>
        </div>



      {%- endfor -%}

    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Info Repeater Custom",
    "class": "section",
    "tag": "section",
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.multicolumn.blocks.column.settings.image.label"
          }, {
            "type": "text",
            "id": "title",
            "default": "Column",
            "label": "t:sections.multicolumn.blocks.column.settings.title.label"
          }, {
            "type": "richtext",
            "id": "text",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "label": "t:sections.multicolumn.blocks.column.settings.text.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Info Repeater Custom",
        "blocks": [
          {
            "type": "column"
          }, {
            "type": "column"
          }, {
            "type": "column"
          }
        ]
      }
    ]
  }
{% endschema %}