<section class="content-boxes py-5">
  <div class="container">
    <div class="row my-5 align-items-center">
      <div class="col-md-12">
        <div class="content-boxes-con pe-5">
          <div class="heading">Return & Refund Policy
          </div>
          <p>Our Return and Refund Policy was last updated 2/2/2023.
          </p>
          <p>
            Thank you for shopping at
            <strong>One Fit</strong>
            .
          </p>
          <p>If, for any reason, you are not completely satisfied with a purchase we invite you to review our policy on refunds and returns.
          </p>
          <p>The following terms are applicable for any products that you purchased with us.</p>
          <div class="heading heading--sm">Interpretation and Definitions</div>
          <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
          </p>
          <div class="heading heading--sm">Definitions
          </div>
          <p>For the purposes of this Return and Refund Policy:
          </p>
          <ul>
            <li>
              <strong>“Company“</strong>(referred to as either “the Company”, “We” “Us” or "Our" in this Agreement) refers to One Fit</li>
            <li>
              <strong>"Goods”</strong>
              refers to the items offered for sale on the Service.</li>
            <li>
              <strong>“Orders”</strong>
              means a request by you to purchase Goods from Us.</li>
            <li>
              <strong>“Service”</strong>
              refers to the Website.</li>
            <li>
              <strong>“Website”</strong>
              refers to (WEBSITE_NAME), accessible from (WERSITE_URL)</li>
            <li>
              <strong>"You”</strong>
              means the individual accessing or using the Service, or the company, or any other legal entity on behalf of which such individual is accessing or using the Service, as applicable.
            </li>
          </ul>
          <div class="heading">Order Cancellation Rights
          </div>
          <p>You are entitled to cancel Your Order within 14 days without giving any reason for doing so.
          </p>
          <p>The deadline for cancelling an Order is 14 days from the date on which you received the Goods or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.</p>
          <p>In order to exercise your right of cancellation, you must inform us of your decision by means of a dear statement. You can inform us of your decision by:
          </p>
          <ul>
            <li>Contacting our website support</li>
            <li>Reaching out through email (Email address available on our website)</li>
          </ul>
          <p>We will reimburse you no later than 14 days from the day on which we receive the returned Goods. We will use the same means of payment as you used for the Order, and you will not incur any fees for such reimbursement.
          </p>
          <div class="heading">Conditions for Returns
          </div>
          <p>In order for the Goods to be eligible for a return, please make sure that:
          </p>
          <ul>
            <li>The Goods were purchased in the last 14 days</li>
            <li>The Goods are in the original packaging</li>
            <li>The following Goods cannot be returned:</li>
            <li>The supply of Goods made to your specifications or clearly personalized.</li>
            <li>The supply of Goods which according to their nature are not suitable to be returned, deteriorate rapidly or where the date of expiry is over.</li>
            <li>The supply of Goods which are not suitable for return due to health protection or hygiene reasons and were unsealed after delivery.</li>
            <li>The supply of Goods which are, after delivery, according to their nature, inseparably mixed with other items.
            </li>

          </ul>
          <p>We reserve the right to refuse returns of any merchandise that does not meet the above return conditions in our sole discretion.
          </p>
          <p>Returning Goods 
            You are responsible for the cost and risk of returning the Goods to Us. You should send the Goods according to the details provided by our support team.
            We cannot be held responsible for Goods damaged or lost in return shipment. Therefore, we recommend an insured and trackable mail service. We are unable to issue a refund without actual receipt of the Goods or proof of received return delivery.
          </p>
          <div class="heading">Gifts
          </div>
          <p>If the Goods were marked as a gift when purchased and then shipped directly to you, you’ll receive a gift credit for the value of your return. Once the returned product is received, a gift certificate will be mailed to you.
          </p>
          <p>If the Goods weren't marked as a gift when purchased, or the gift giver had the Order shipped to themselves to give it to you later, we will send the refund to the gift giver.</p>
        </div>
      </div>
    </div>
  </div>
</section>



{% schema %}
  {
    "name": "Refund Page Custom",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "presets": [
      {
        "name": "Refund Page Custom"
      }
    ]
  }
{% endschema %}